### Project-specific files ###

neo4j/
!node_modules/db/*

### Environment-specific files ###

# Created by http://gitignore.io

### Node ###
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

### Linux ###
.*
!.git*
!.npmignore
!.travis.yml
*~