### Project-specific files ###

!node_modules/db/*

### Environment-specific files ###

### Node ###
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

### Linux ###
.*
!.git*
!.npmignore
!.travis.yml
*~

# Created by http://gitignore.io